experiments/nyuv2/trainlogs
experiments/nyuv2/save
experiments/nyuv2/dataset
experiments/nyuv2/__pycache__
experiments/nyuv2/.ipynb_checkpoints

experiments/cityscapes/trainlogs
experiments/cityscapes/save
experiments/cityscapes/dataset
experiments/cityscapes/__pycache__
experiments/cityscapes/.ipynb_checkpoint

methods/__pycache__
methods/.ipynb_checkpoints

mtl.egg-info
*.pyc
